body {
    font-family: roboto;
    background: #134E5E;
    background: linear-gradient(to right, #71B280, #134E5E);
}

.btn-primary {
    background-color: green;
    border-color: aliceblue;
}

.btn-danger {
    background-color: deeppink;
    border-color: aliceblue;
}

.btn-danger:hover {
    background-color: mediumvioletred;
    border-color: mediumvioletred;
}

.taskWrapper {
    background-color: #71B280;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.taskDescription {
    font-size: 16px;
    text-align: center;
}

